{% extends 'home/layout.html' %}
  {% load static %}
  {% block title %}
    <title>Contact Us</title>
    {% endblock %}
    {% block head %}
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'home/thank-you.css' %}">
    {% endblock %}
    {% block nav %}
        <a href="{% url 'contact' %}" class='nav-link'>
          Contact
         </a>
        {% endblock %}

    {% block body %}

    <div class='thank-you'>
        <div class='thank-container'>
            <h1> Thank <span> you! </span></h1>
            <p>We received your message and will get back to you as soon as possible.</p>
            <a class="button" href="{% url 'index' %}" >Back to home</a>
        </div>
    </div>

    {% endblock %}